@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
}

.t-table {
  @apply w-full border-collapse whitespace-nowrap;
}

.t-table > thead {
  @apply lg:table-header-group hidden;
}

.t-table > thead > tr > * {
  @apply font-normal text-sm px-3 p-2 text-left text-gray-400;
}

.t-table > tbody {
  @apply lg:table-row-group flex flex-col;
}

.t-table > tbody > tr {
  @apply lg:table-row block border-t mt-3 pt-3 lg:border-none lg:mt-0 lg:pt-0;
}

.t-table > tbody > tr > * {
  @apply px-3 p-2 lg:table-cell block;
}
